<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005606757963-njihiidua2vv7n4af1sn5730pnd7s6ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005606757963-njihiidua2vv7n4af1sn5730pnd7s6ad</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1005606757963-6a9p2ttp47sklfjn428pbht1gkhogkuj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1_Fk36-SjuDYpP9uuqdNEwy7eEgF5sRw</string>
	<key>GCM_SENDER_ID</key>
	<string>1005606757963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theNationalDawn</string>
	<key>PROJECT_ID</key>
	<string>the-national-dawn-be102</string>
	<key>STORAGE_BUCKET</key>
	<string>the-national-dawn-be102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005606757963:ios:6f565b8bf6b00e49540fce</string>
	<key>DATABASE_URL</key>
	<string>https://the-national-dawn-be102.firebaseio.com</string>
</dict>
</plist>